.RoomListContainer {
    background-color: #2C2E2F;
    color: #B4B3B6;
    border-right: 1px solid #1E1E1E;
    /* padding: 5px 15px; */
}
.RoomListContainer .roomList {
    width:100%;
    overflow-y:scroll;
}
.RoomListContainer .input-container {
    /* background-color: #1E1E1E; */
    height: 53px;
    padding: 10px 15px;

}
.RoomListContainer .input-container input {
    background-color: #3A3B3F;
    color:#DDDDDD;
    font-size: 12px;
    height: 30px;
    border: 0;
}
.RoomListContainer .input-container input ::placeholder {
    color: #525458;
    opacity: 1;
}
.RoomListContainer .input-container input ::-ms-input-placeholder{
    color: #525458;
}
.RoomListContainer .bottomContainer {
    height: 53px;
}
.RoomListContainer .myName {
    /* display: inline-block; */
    background-color:red;
}
.RoomListContainer .myName .padding {
    white-space: nowrap; 
    overflow:hidden;
    text-overflow: ellipsis;
    padding:15px;
    height: 100%;
    border-radius: 2px;
}
.RoomListContainer .createRoom {
    background-color:blue;
    padding: 15px 10px;
    height: 100%;
    cursor: pointer;
}
.RoomListContainer .roomList .roomContainer {
    font-size: 14px;
    padding: 5px 15px;
    overflow: hidden;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}
.RoomListContainer .roomList .roomContainerActive {
    font-size: 14px;
    background-color:#515254;
    padding: 5px 15px;
    /* border-bottom: 1px solid black; */
    overflow: hidden;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
    

}
.RoomListContainer .roomList .roomContainerHover {
    position: relative;
    font-size: 14px;
    background-color: #7d7e80;
    padding: 5px 15px;
    /* border-bottom: 1px solid black; */
    overflow: hidden;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}
.RoomListContainer .roomList .roomContainerHover .delete {
    position: absolute;
    background-color:orange;
    height: 100%;
    right: 0;
    top: 0;
}